API_SECRET=dev-secret # this must match what is stored in bot environment
USE_REDIS_MOCK=true # for local testing

# Upstash integration, when not using Docker container
UPSTASH_REDIS_REST_URL=your-upstash-redis-rest-url
UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-rest-token
